header {
    display: flex;
    justify-content: center;
    background: #111;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header-mask {
    display: block;
    height: 72px;
}

header .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1374px;
    padding: 16px 15px;
}

header .wrapper .logo {
    width: 287.609px;
    height: 30px;
    background-color: transparent;
}

header .navbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

header .navbar .navbar-link {
    color: #888888;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-decoration: none;
    padding: 9px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .navbar>.navbar-link {
    margin: 0 24px 0 0;
}

header .navbar .navbar-link .icon {
    margin: 0 8px 0 0;
    display: inline-flex;

}

header .navbar .navbar-link .icon svg {
    width: 20px;
    height: 20px;
    color: #888888;
}

header .navbar .navbar-link .icon svg path {
    stroke: #888888;
}

header .navbar .navbar-link.active,
header .navbar .navbar-link:hover {
    border-radius: 10px;
    background: #414141;
    color: #fff;
}

header .navbar .navbar-link.active .icon path,
header .navbar .navbar-link:hover .icon path {
    stroke: #fff;
}

header .select-team .dropdown-selector {
    min-width: 123px;
    transition: .3s ease;
    border-radius: 10px;
}

header .select-team .dropdown-selector:hover {
    min-width: 123px;
    border-color: #fff;
}

header .select-team .dropdown-content {
    right: 0;
    left: unset;
    transform: translate(0, 0);
}

header .dropdown.select-team .dropdown-content .dropdown-box:before {
    translate: 50px 0;
}

header .button.secondary.logout-btn {
    border-color: #696969;
    background: transparent;
    margin: 0 0 0 24px;
}

header .button.secondary.logout-btn:hover {
    border-color: #fff;
}

header .button.secondary.logout-btn:hover .txt {
    color: #fff;
}


/* responsive  */

@media screen and (max-width:1200px) {
    header .wrapper {
        flex-wrap: wrap;
        padding: 20px 15px;
    }

    header .logo-container {
        width: 100%;
        text-align: center;
        margin: 0 0 30px;
    }

    header .navbar {
        justify-content: flex-start;
    }

    .header-mask {
        height: 143px;
    }
}


@media screen and (max-height:768px) {
    .header-mask{
        height: 56.4px;
    }

    header .wrapper {
        padding: 8px 15px;
    }
}