

 .review-option-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: auto;
    gap:8px;
}

 .review-option {
    flex-grow: 1;
    margin: 8px;
    padding: 11px 0;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    width: 90px;
    transition: .2s linear;
}
